.wrapper {
  margin-top: 51px;
  width: 100%;
  max-width: 737px;
  margin-left: auto;
  margin-right: auto;
}

.searchInput {
  width: 100%;
  height: 50px;
  background-color: #f4f4f4;
  border: 1px #f4f4f4 solid;
  padding: 25px;
  font-weight: bold;
  font-size: 20px;
  opacity: 1;
  border-radius: 16px;
  background-image: url("/images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 700px center;
}

.searchInput:focus {
  border: 2px solid #a445ed;
  outline: none;
}

.searchInput.dark {
  background-color: #1f1f1f;
  color: white;
  border: 1px #1f1f1f solid;
}

.inputError {
  border: 1px red solid;
  margin-bottom: 10px;
}

.errorText {
  color: red;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
}

.results {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
}

.headerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

.pronunciation {
  margin-top: 12px;
  color: #a445ed;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 40px;
}

.playBtn {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.partSpeechRow {
  display: flex;
  gap: 10px;
  align-items: center;
}

.partSpeech {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  color: #2d2d2d;
  line-height: 100%;
}

.separator {
  width: 100%;
  height: 2px;
  background-color: #e9e9e9;
}

.meaningSection {
  margin-top: 40px;
  margin-bottom: 40px;
}

.meaningTitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}

.definitionList {
  margin-left: 40px;
}

.definitionItem {
  margin-top: 25px;
  font-weight: 400;
  color: #2d2d2d;
  font-size: 18px;
  line-height: 24px;
}

.definitionText {
  margin-bottom: 5px;
}

.definitionText.dark {
  color: white;
}

.example {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  color: #757575;
  line-height: 24px;
}

.synonyms,
.antonyms {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 25px;
  width: 100%;
  max-width: 714px;
  align-items: center;
}

.synTitle,
.antTitle {
  font-weight: 400;
  font-size: 20px;
  color: #757575;
}

.synItem,
.antItem {
  font-family: Inter;
  font-weight: 700;
  font-size: 20px;
  color: #a445ed;
  cursor: pointer;
}

.sourceRow {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

.sourceLink {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.sourceLink.dark {
  color: white;
}

.loadingText {
  text-align: center;
  margin-top: 20%;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  justify-content: center;
  width: 660px;
  text-align: center;
  gap: 24px;
}

.notFound > h2 {
  color: #2d2d2d;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
}

.notFound > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #757575;
}

.notFound.dark > h2 {
  color: white;
}

.separator.dark {
  background-color: #3a3a3a;
}
